* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --background-color: #0C1014;
}

body{
    background-color: var(--background-color);
    color: white;
}

/* Main */
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

/* Imagem */

.image img{
    width: 450px;
    margin-bottom: 40px;
}

/* Right */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img{
    margin-bottom: 30px;
    width: 200px;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

li{
    list-style: none;
}

/* Form */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    width: 250px;
    height: 30px;
    border-radius: 2px;
    border: none;
    padding: 10px;
    background-color: #25292E;
    color: #a8a6a6;
    outline: #515151 solid .2px;
    margin-bottom:8px;
    font-size: 12px;
}

form button{
    width: 250px;
    height: 32px;
    background-color: #568BFF;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* Separator */

.separator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    color: #525252;
}

.separator b{   
    font-weight:bold;
    color: #9d9b9b;
    font-size: 12px;
}

/* Add info */

.add-info{
    color: #568BFF;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-facebook{
    margin-bottom: 20px;
}

.login-with-facebook {
    text-decoration: none;
    color: #568BFF;
    font-size: 14px;
    font-weight: 500;
}

.login-facebook i{
    margin-right: 5px;
    font-size: 18px;
}

.forget-password{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* Sing-up section */

.create-account{
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    margin-top: 60px;
    font-weight: 300;
}

.create {
    color: #568BFF;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

/* Footer */

footer{
    font-size: 12px;
    color: #9B9B9B;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}